@font-face {
    font-family: 'Mayonice';
    src: url('Mayonice.woff2') format('woff2'),
        url('Mayonice.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

